{{page-title @model.title}}

<h2>{{@model.title}} by {{#each @model.artists as |artist|}} <LinkTo @route="artists.artist" @model={{artist.id}}>{{artist.name}}</LinkTo>, {{else}} Unknown {{/each}}</h2>
<ul>
    {{#each @model.releases as |release|}}
        <li><LinkTo @route="releases.release" @model={{release.id}}>{{release.title}}, {{release.format}}</LinkTo></li>
    {{else}}
        <li>No releases found.</li>
    {{/each}}
</ul>
