{{page-title @model.release.title}}

<h2>{{@model.release.title}} by {{#each @model.release.group.artists as |artist|}} <LinkTo @route="artists.artist" @model={{artist.id}}>{{artist.name}}</LinkTo>, {{else}} Unknown {{/each}}</h2>
<FetchButton @kind="release" @id={{@model.release.id}} />
<p>All versions of this release: <LinkTo @route="release-groups.release-group" @model={{@model.release.group.id}}>{{@model.release.group.title}}</LinkTo></p>
<AddToCollection @collections={{@model.collections}} @releaseId={{@model.release.id}} />
<ul>
    {{#each @model.release.tracks as |track|}}
        <li>{{track.title}}</li>
    {{else}}
        <li>No tracks found.</li>
    {{/each}}
</ul>
