{{page-title @model.name}}

<h2>{{@model.name}}</h2>

<ul>
    {{#each @model.albums as |album|}}
        <li><LinkTo @route='release-groups.release-group' @model={{album.id}}>{{album.title}}</LinkTo></li>
    {{else}}
        <li>No albums found.</li>
    {{/each}}
</ul>
